<header class="header">
  <div class="container header-container">
    <nav class="nav ">
      <button type="button" class="menu-button" aria-label="button for open menu">
        <svg class="header-svg" style="background-color:transparent; border-radius: 4px;" width="24" height="24">
          <use href="/img/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="links" href="#Welcome">Welcome to Spark</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Power">The Power Play System</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Arenas">Training Arenas</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Equipment">Cutting-Edge Equipment</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Champion">The Champion’s Edge</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Fuel">Fuel for Performance</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Recovery">Recovery & Longevity</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Stories">Real Athlete Stories</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="#Join">Join the Movement</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <button class="modal-close-button" aria-label="close button">
    <svg class="modal-svg" width="24" height="24">
      <use href="/img/sprite.svg#icon-cross"></use>
    </svg>
  </button>
  <ul class="menu-list">
    <li><a class="menu-list-item active" href="#Welcome">Welcome to Spark</a></li>
    <li><a class="menu-list-item" href="#Power">The Power Play System</a></li>
    <li>
      <a class="menu-list-item" href="#Arenas">Training Arenas</a>
    </li>
    <li><a class="menu-list-item" href="#Equipment">Cutting-Edge Equipment</a></li>
    <li><a class="menu-list-item" href="#Champion">The Champion’s Edge</a></li>
    <li>
      <a class="menu-list-item" href="#Fuel">Fuel for Performance</a>
    </li>
    <li><a class="menu-list-item" href="#Recovery">Recovery & Longevity</a></li>
    <li><a class="menu-list-item" href="#Stories">Real Athlete Stories</a></li>
    <li><a class="menu-list-item" href="#Join">Join the Movement</a></li>
    <li>
      <a class="menu-list-item list-condition" href="Privacy%20Policy.html">Privacy Policy</a>
    </li>
    <li>
      <a class="menu-list-item list-condition" href="Terms & Conditions.html">Terms & Conditions</a>
    </li>
    <li>
      <a class="menu-list-item list-condition" href="Cookies Policy.html">Cookies Policy</a>
    </li>
  </ul>
</div>