<!-- hero -->
 <article class="hero-article" id="Welcome">
  <div class="container hero-container-main">
  <h1 class="hero-title">Welcome to <span class="hero-span">Spark</span></h1>
  <div class="hero-container">
<p>More than training.</p>
<p>More than a gym.</p>
<p class="hero-color-text">This is where you ignite your potential.</p>
  </div>
<p class="hero-text">At Spark Power Play, we believe athletic performance is built through science, dedication, and cutting-edge training. Whether you're a pro athlete or just starting your fitness journey, our elite programs will elevate your strength, speed, and endurance to new heights.</p>
</div>
 </article>
 <!-- The Power Play System -->
 <section class="power-section" id="Power">
    <div class="container">
      <h2 class="power-title">The Power Play System</h2>
      <div class="cards-container">
      <div class="phase-container">  
        <div class="number-container">    
          <p style="font-family: 'Orbitron', sans-serif; font-weight: 500; font-size: 20px; color: #f1f1f1;">Phase</p>
          <p class="number-text">1</p>
        </div>
          <h3 class="power-subtitle">Ignite Strength</h3>
        <p class="power-text">Maximize your lifting
          power, muscle endurance, and explosive energy.</p>
      </div>
   
      <div class="phase-container">
        <div class="number-container number-container-two">
          <p style="font-family: 'Orbitron', sans-serif; font-weight: 500; font-size: 20px; color: #f1f1f1;">Phase</p>
          <p class="number-text">2</p>
        </div>
        <h3 class="power-subtitle">Elevate Speed & Agility </h3>
        <p class="power-text">Advanced movement training to sharpen your reactions and footwork.</p>
      </div>
   
    <div class="phase-container">
      <div class="number-container number-container-two">
        <p style="font-family: 'Orbitron', sans-serif; font-weight: 500; font-size: 20px; color: #f1f1f1;">Phase</p>
        <p class="number-text">3</p>
      </div>
      <h3 class="power-subtitle">Peak Performance Optimization</h3>
      <p class="power-text">Recovery, mobility, and nutrition strategies to sustain top-tier results.</p>
    </div>
    </div>
  </div>
  </section>
  <!-- Training Arenas -->
  <section class="training-section" id="Arenas">
    <div class="title-container">      
    </div>
    <div class="container arenas-container">   
        <h2 class="training-title">Training Arenas</h2> 
         <ul class="training-list">
          <li class="training-item">
            <figure>
               <img class="training-img" src="/img/traning/sprint.png"
               srcset="/img/traning/sprint.png 1x, /img/traning/sprint@2x.png 2x" alt="Storm Sprint Zone" loading="lazy"/>
               <figcaption class="training-caption">Storm Sprint Zone</figcaption>
              </figure>
              <p class="training-text">Push your speed and reaction time with professional sprint drills.</p>
          </li>
          <li class="training-item">
            <figure>
              <img class="training-img" src="/img/traning/liffts.png"
              srcset="/img/traning/liffts.png 1x, /img/traning/liffts@2x.png 2x" alt="Iron Forge" loading="lazy">
              <figcaption class="training-caption">Iron Forge</figcaption>
             </figure>
             <p class="training-text">Master Olympic lifts and resistance training to build unstoppable strength.</p>
          </li>
          <li class="training-item">
            <figure>
              <img class="training-img" src="/img/traning/endurance.png"
              srcset="/img/traning/endurance.png 1x, /img/traning/endurance@2x.png 2x" alt="Endurance Pit" loading="lazy">
              <figcaption class="training-caption">Endurance Pit</figcaption>
             </figure>
             <p class="training-text">HIIT circuits, altitude training, and stamina-based conditioning.</p>
          </li>
          <li class="training-item">
            <figure>
              <img class="training-img" src="/img/traning/lab.png"
              srcset="/img/traning/lab.png 1x, /img/traning/lab@2x.png 2x" alt="Neuro-Performance Lab" loading="lazy">
              <figcaption class="training-caption">Neuro-Performance Lab</figcaption>
             </figure>
             <p class="training-text">Cognitive drills, VR simulations, and focus-enhancing exercises.</p>
          </li>
        </ul>      
    </div>
    </section>
    <!-- Cutting-Edge Equipment -->
    <section class="equipment-section" id="Equipment">
      <div class="cutting-edge-container">      
      </div>
      <div class="container">
        <h2 class="equipment-title">Cutting-Edge Equipment</h2>
        <div class="equipment-container">
          <img class="equipment-img"  alt="Cutting-Edge Equipment" loading="lazy" src="/img/equipment/gym.png"
          srcset="/img/equipment/gym.png 1x, /img/equipment/gym@2x.png 2x" />                 
          <ul class="equipment-list">
            <li class="equipment-item">
              <img class="img-disk" src="/img/equipment/ellipse.png" alt="Ellipse" loading="lazy"/>
              <p>AI-Powered Treadmills with Biometric Tracking</p>
            </li>
            <li class="equipment-item">
              <img class="img-disk" src="/img/equipment/ellipse.png" alt="Ellipse" loading="lazy"/>
              <p>Explosive Power Racks for Advanced Strength Training</p>
            </li>
            <li class="equipment-item">
              <img class="img-disk" src="/img/equipment/ellipse.png" alt="Ellipse" loading="lazy"/>
              <p>Virtual Reality Reflex & Reaction Systems</p>
            </li>
            <li class="equipment-item">
              <img class="img-disk" src="/img/equipment/ellipse.png" alt="Ellipse" loading="lazy"/>
              <p>Cryotherapy Chambers for Enhanced Recovery</p>
            </li>
          </ul>
        </div>
      </div>
      </section>
<!-- The Champion’s Edge -->
 <section class="champion-section" id="Champion">
  <div class="container champion-conteiner">
    <h2 class="champion-title">The Champion’s Edge</h2>
    <div class="round-container">
      <img class="champion-img" src="/img/champion/vector.png" alt="Quotes"/>
      <p class="round-text">Winning is a mindset. <br/>
        Here, we train both body and mind.</p>
    </div>
    <dl class="champion-list">
      <dt class="champion-term">Sports Psychology Training:</dt>
      <dd class="champion-definition">Unlock mental resilience, visualization, and focus techniques.</dd>
        <dt class="champion-term">Game Strategy Sessions:</dt>
      <dd class="champion-definition">Develop tactical skills to outthink and outperform the competition.</dd>
        <dt class="champion-term">Elite Athlete Mentorship:</dt>
      <dd class="champion-definition">Train alongside professionals and gain insider knowledge from top performers.</dd>
    </dl>
  </div>
 </section>
 <!-- Fuel for Performance -->
  <section class="fuel-section" id="Fuel">
    <div class="container">
      <h2 class="fuel-title">Fuel for Performance</h2>
      <div class="fuel-equipment-container">
      <img class="equipment-img"  alt="Healthy Food" loading="lazy" src="/img/fuel/healthy-food.png"
      srcset="/img/fuel/healthy-food.png 1x, /img/fuel/healthy-food@2x.png 2x"/> 
      <div>
      <p class="fuel-text">Your body is your engine. We provide the premium fuel it needs.</p>
      <div class="pictures-container">
      <figure class="fuel-pictures">
        <picture class="picture">
          <source srcset="
          /img/fuel/fresh-desk.png   1x,
          /img/fuel/fresh-desk@2x.png 2x
                  " media="(min-width: 1439px)" />
          <source srcset="
          /img/fuel/fresh-mob.png   1x,
          /img/fuel/fresh-mob@2x.png 2x
                  " media="(max-width: 1438px)" />
          <img class="fuel-img" src="/img/fuel/fresh-mob.png" alt="Fresh" loading="lazy" />
        </picture>
        <figcaption class="fuel-caption">On-site recovery shakes & protein bars</figcaption>
      </figure>
      <figure class="fuel-pictures">
        <picture class="picture">
          <source srcset="
          /img/fuel/jars-desk.png   1x,
          /img/fuel/jars-desk@2x.png 2x
                  " media="(min-width: 1439px)" />
          <source srcset="
          /img/fuel/jars-mob.png   1x,
          /img/fuel/jars-mob@2x.png 2x
                  " media="(max-width: 1438px)" />
          <img class="fuel-img" src="/img/fuel/jars-mob.png" alt="Jars" loading="lazy" />
        </picture>
        <figcaption class="fuel-caption">Meal planning for endurance & muscle gain</figcaption>
      </figure>
      <figure class="fuel-pictures">
        <picture class="picture">
          <source srcset="
          /img/fuel/kettlebell-desk.png   1x,
          /img/fuel/kettlebell-desk@2x.png 2x
                  " media="(min-width: 1439px)" />
          <source srcset="
          /img/fuel/kettlebell-mob.png   1x,
          /img/fuel/kettlebell-mob@2x.png 2x
                  " media="(max-width: 1438px)" />
          <img class="fuel-img" src="/img/fuel/kettlebell-mob.png" alt="Kettlebell" loading="lazy" />
        </picture>
        <figcaption class="fuel-caption">Personalized nutrition coaching</figcaption>
      </figure>
      </div>
    </div>
      </div>
    </div>
  </section>
  <!-- Recovery & Longevity -->
   <section class="recovery-section" id="Recovery">
    <div class="container">
      <h2 class="recovery-title">Recovery & Longevity</h2>
      <p class="recovery-text">Peak performance requires proper restoration.</p>
      <div class="recovery-picture-container">
        <div>
        <figure class="recovery-picture">
          <img class="recovery-img"  alt="Cryo" loading="lazy" src="/img/recovery/cryo.png"
          srcset="/img/recovery/cryo.png 1x, /img/recovery/cryo@2x.png 2x"/>  
          <figcaption class="recovery-caption">Cryo & Infrared Therapy </figcaption>              
        </figure>
        <p style="font-family: 'Tomorrow', sans-serif; font-weight: 300; font-size: 22px; color: #f1f1f1; width: 343px;">Accelerate muscle repair and reduce inflammation.</p> 
      </div>
      <div>
        <figure class="recovery-picture">
          <img class="recovery-img"  alt="Mobility" loading="lazy" src="/img/recovery/mobility.png"
          srcset="/img/recovery/mobility.png 1x, /img/recovery/mobility@2x.png 2x"/>  
          <figcaption class="recovery-caption">Mobility & Stretching Workshops</figcaption>              
        </figure>
        <p style="font-family: 'Tomorrow', sans-serif; font-weight: 300; font-size: 22px; color: #f1f1f1; width: 343px;">Increase flexibility and enhance movement efficiency.</p>
       </div>
       <div>
        <figure class="recovery-picture">
          <img class="recovery-img"  alt="Massage" loading="lazy" src="/img/recovery/massage.png"
          srcset="/img/recovery/massage.png 1x, /img/recovery/massage@2x.png 2x"/>  
          <figcaption class="recovery-caption">Sports Massage & Myofascial Release </figcaption>              
        </figure>
        <p style="font-family: 'Tomorrow', sans-serif; font-weight: 300; font-size: 22px; color: #f1f1f1; width: 343px;">Relieve tension, improve mobility, and prevent injuries.</p> 
      </div>
      </div>
    </div>
   </section>
   <!-- Real Athlete Stories -->
    <section class="stories-section" id="Stories">
      <div class="container">
        <h2 class="stories-title">Real Athlete Stories</h2>
        <div class="stories-container">
          <div class="stories-container-item">
            <img class="stories-img" src="/img/champion/vector.png" alt="Quotes"/>
            <p class="stories-text">"Training here gave me the endurance to outlast my opponents. Best decision I ever made!"</p>
            <p class="stories-author">Mehmet A.</p>
          </div>
            <div class="stories-container-item">
              <img class="stories-img" src="/img/champion/vector.png" alt="Quotes"/>
              <p class="stories-text">"The power training completely changed my game. I feel stronger, faster, and sharper!"</p>
              <p class="stories-author">Derya K.</p>
            </div>
              <div class="stories-container-item">
                <img class="stories-img" src="/img/champion/vector.png" alt="Quotes"/>
                <p class="stories-text">"The mental coaching was a game-changer. Now, I walk into every competition feeling unstoppable."</p>
                <p class="stories-author">Hakan S.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Join the Movement -->
     <section class="movement-section" id="Join">
      <div class="container">
        <h2 class="movement-title">Join the Movement</h2>
        <p class="movement-text">Ready to take your performance to the next level?<br/> 
          This is where champions are built.</p>
          <p class="contact-information">Contact us at:
            <a class="link-mail" href="mailto:info@sparkpowerplay.com">info@sparkpowerplay.com</a>
          </p>
      </div>
     </section>
