.footer{
  background-image:url("/img/lines-mob.png");
  background-repeat: no-repeat;
  background-position: top 0px center;
  background-size: 100%;  
}
.footer-container{
  padding-top:60px;
}
.footer-navigation{
  display:flex;
  flex-direction:column;
  text-align:center;
  gap:24px;
  text-decoration:underline;
  font-family: "Tomorrow", sans-serif;
font-weight: 300;
font-size: 20px;
text-decoration-skip-ink: none;
color: #f1f1f1;
margin-bottom:40px;
}
.footer-text{
  font-family: "Tomorrow", sans-serif;
font-weight: 300;
font-size: 14px;
color: #f1f1f1;
text-align:center;
}
@media screen and (min-width: 1439px) {
  .footer{
    background-image:url("/img/lines-desk.png");
    background-repeat: no-repeat;
    background-position: top 20px center;
    background-size: 100%;  
  }
  .footer-container{
    padding-top:80px;
  }
  .footer-navigation{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:48px;
  }
  .footer-text{
  font-size: 16px;
  }
}
