.hero-article{
  background-image:
  linear-gradient(225deg, rgba(132, 132, 132, 0.01) 0%, rgba(6, 6, 6, 0.5) 46.98%, rgba(6, 6, 6, 0.75) 69.93%, #060606 92.89%),
  url('/img/heroimg/heropic-mob.png');
  background-repeat: no-repeat;
  background-position: top 180px center;
  background-size: contain;  
}
.hero-container-main{
  padding-top:72px;
}
.hero-title{
  font-family: "Orbitron", sans-serif;
font-weight: 400;
font-size: 32px;
line-height: 1;
color:rgba(241, 241, 241, 0.5);
width: 210px;
height: 98px;
text-align:center;
margin:0px auto 28px;

}
.hero-span{
  font-family: "Orbitron", sans-serif;
font-weight: 400;
font-size: 56px;
line-height: 0.9;
color: #d7ff35;

}
.hero-container{
  display:flex;
  flex-direction:column;
  gap:16px;
  font-family: "Orbitron", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1;
letter-spacing: 0.01em;
color: #f1f1f1;
margin-top:316px;

}
.hero-color-text{
  background: linear-gradient(90deg, #fdfdfd 0%, #d7ff35 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
width:341px;
}
.hero-text {
  margin-top: 40px;
  font-family: 'Tomorrow', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(241, 241, 241, 0.9);
}
@media screen and (min-width: 1439px) {
  .hero-article{
    background-image:
    linear-gradient(225deg, rgba(132, 132, 132, 0.01) 0%, rgba(6, 6, 6, 0.5) 46.98%, rgba(6, 6, 6, 0.75) 69.93%, #060606 92.89%),
    url('/img/heroimg/heropic-desk.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    height: 860px;
  }
  .hero-title{
  font-size: 40px;
  text-align:start;
  margin:80px 0;
  width: 493px;
  height: 58px;
  }
  .hero-span{
   font-size: 64px;
 
  }
  .hero-container{
  font-size: 20px;
  margin-top:80px;
  
  }
  .hero-color-text{
  width:426px;
  }
  .hero-text{
    margin:307px auto 0;
  font-size: 22px;
  line-height: 1.2;
  width:1000px;
  }
}

/* The Power Play System */
.power-section{
  background-image:url("/img/power/line-mob.png");
  background-repeat: no-repeat;
  background-position: top 120px right;
  background-size: 359px;  
  
}
.power-title{
  margin-bottom:32px;
}
.phase-container{
  background-image:url("/img/power/card.png");
  background-repeat: no-repeat;
  background-size: cover; 
  width: 320px;
height: 330px;
padding:16px 20px 24px;
display:flex;
flex-direction:column;
gap:24px;
margin:0 auto;
}
.cards-container{
  display:flex;
  flex-direction:column;
  gap:16px;
 
}
.number-container{
  display:flex;
  align-items:center;
  gap:8px;
  margin-left:8px;
}
.number-container-two{
 margin-left:4px;
}

.number-text{
  font-family: "Orbitron", sans-serif;
font-weight: 500;
font-size: 64px;
line-height: 1;
color: #d7ff35;
}
.power-subtitle{
  font-family: "Orbitron", sans-serif;
font-weight: 400;
font-size: 24px;
letter-spacing: 0.04em;
color: #010101;
margin-top:30px;
width:266px;
}
.power-text{
  font-family: "Tomorrow", sans-serif;
font-weight: 300;
font-size: 20px;
line-height: 1.3;
color: #010101;
width:250px;
}
@media screen and (min-width: 1439px) {
  .power-section{
    background-image:url("/img/power/line-desk.png");
    background-repeat: no-repeat;
    background-position: top 114px right;
    background-size: 708px;  
    
  }
  .power-title{
    font-size: 40px;
    margin-bottom:48px;
  }
  .cards-container{
    display:flex;
    flex-direction:row;
    gap:16px;
     }
}
/* Training Arenas */
.title-container{
  background-color: #f1f1f1;
  background-image:url("/img/traning/line-mob.png");
  background-repeat: no-repeat;
  background-position: top 65px right;
  background-size: 359px;  
  padding:40px 16px;
  
}
.training-title{
  font-family: "Orbitron", sans-serif;
font-weight: 500;
font-size: 32px;
color: #010101;
margin-top:-70px;
margin-bottom:35px;
}
.arenas-container{
  padding-top:16px;
}
.training-list{
display:flex;
flex-direction:column;
gap:24px;
margin:0 auto;
}
.training-item{
  width: 304px;
height: auto;
display:flex;
flex-direction:column;
gap:16px;
margin:0 auto;
}
.training-img{
  margin-bottom:16px;
}
.training-caption{
  font-family: "Orbitron", sans-serif;
font-weight: 500;
font-size: 24px;
color: #d7ff35;
padding:16px 0 0 16px;
width:260px;
}
.training-text{
  font-family: "Tomorrow", sans-serif;
font-weight: 300;
font-size: 20px;
color: #f1f1f1;
padding: 0 16px;
}
@media screen and (min-width: 1439px) {
  .title-container{
    background-color: #f1f1f1;
    background-image:url("/img/traning/line-desk.png");
    background-repeat: no-repeat;
    background-position: top 60px right;
    background-size: 708px;
    padding:60px 80px;    
  }
  .training-title{
  font-size: 40px;  
  margin-top:-100px;
margin-bottom:48px;
  }
  .training-list{
  display:flex;
  flex-direction:row;
  gap:24px;
  margin:0 auto;
  }
   .training-caption{
  width:280px;
  }
  .training-text{
    font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #f1f1f1;
  padding: 0 16px;
  width:304px;
  }
}
/* Cutting-Edge Equipment */
.cutting-edge-container{
  background-color: #f1f1f1;
  width:100%;
  height:40px; 
}
.equipment-section{
  background-image:url("/img/power/line-mob.png");
  background-repeat: no-repeat;
  background-position: top 160px right;
  background-size: 359px;  
}
.equipment-title{
  margin-bottom:40px;
}
.equipment-list{
  display:flex;
  flex-direction:column;
  gap:24px;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background: linear-gradient(90deg, #d7ff35 0%, #fdfdfd 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  
}

.equipment-item{
  display:flex;
  gap:10px;
  align-items:center;
  justify-content:start;
  margin-left:-5px;
}
.img-disk{
  width:30px;
  height:30px;  
}
@media screen and (min-width: 1439px) {
  .cutting-edge-container{
    background-color: #f1f1f1;
    width:100%;
    height:60px; 
  }
  .equipment-section{
    background-image:url("/img/power/line-desk.png");
    background-repeat: no-repeat;
    background-position: top 165px right;
    background-size: 708px;  
  } 
  .equipment-container{
    display:flex;
    gap:80px;
    
    align-items:center;
    padding:0 50px;
  }
  .equipment-img{
    width:400px;
    height:260px;
    margin-bottom:0;
  }
}
/* The Champion’s Edge */
.champion-section{
  background-color: #f1f1f1;
  background-image:url("/img/traning/line-mob.png");
  background-repeat: no-repeat;
  background-position: top 118px right;
  background-size: 359px; 
}
.champion-title{
  font-family: "Orbitron", sans-serif;
font-weight: 500;
font-size: 32px;
color: #010101;
margin-bottom:32px;
}
.champion-conteiner{
  position:relative;
}
.round-container{
  position:absolute;
  border-radius: 100%;
  background: #010101;
  width:416px;
  height:416px;
  top:140px;
  left:40%;
  transform: translateX(-60%);
 }
 .champion-img{
  width:66px;
  height:53px;
  margin-left:140px;
  margin-top:65px;
 }
 .round-text{
  font-family: "Orbitron", sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 1.5;
color: #f1f1f1;
max-width:250px;
margin-left:140px;
 }
.champion-list{
  margin-top:472px;
  color:#111111;
  
}
.champion-term{
  border: 1px solid #010101;
border-radius: 8px 8px 0 0;
padding: 16px 10px;
width: 343px;
height: 102px;
background: #010101;
font-family: "Orbitron", sans-serif;
font-weight: 400;
font-size: 28px;
color: #d7ff35;
}
.champion-definition{
  border: 1px solid #010101;
  border-top:none;
border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
padding:16px 10px;
width: 343px;
height: auto;
font-family: "Tomorrow", sans-serif;
font-weight: 400;
font-size: 20px;
color: #010101;
margin-left:0;
margin-bottom:24px;
}
.champion-definition:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1439px) {
  .champion-section{
    background-color: #f1f1f1;
    background-image:url("/img/traning/line-desk.png");
    background-repeat: no-repeat;
    background-position: top 110px right;
    background-size: 708px; 
  }
  .champion-title{
  font-size: 40px;
  }
   .round-container{
    width:496px;
    height:496px;
    top:170px;
    left:17%;
    transform: translateX(-55%);
   }
   .round-text{
   font-size: 28px;
   margin-top:24px;
   }
   .champion-list{
    margin-top:50px;
    margin-left:435px;
    }
    .champion-term:first-of-type,
    .champion-definition:first-of-type {
      width: 616px;
      height: auto;
    }
    .champion-term,
    .champion-definition{
      width: 667px;
     height: auto;
}
.champion-term:last-of-type,
    .champion-definition:last-of-type {
      width: 795px;
      height: auto;
    }
}
/* Fuel for Performance */
.fuel-section{
  background-image:url("/img/power/line-mob.png");
  background-repeat: no-repeat;
  background-position: top 120px right;
  background-size: 359px;  
}
.fuel-title{
  margin-bottom:50px;
}
.equipment-img{
  width: 343px;
height: 302px;
margin-bottom:24px;
}
.fuel-text{
  font-family: "Orbitron", sans-serif;
font-weight: 400;
font-size: 22px;
text-align: center;
color: #f1f1f1;
margin-bottom:24px;
}
.fuel-pictures{
  display:flex;
  flex-direction:column;
   margin:0;
   border-radius: 8px;
padding: 16px;
width: 343px;
height: auto;
background: #f1f1f1;
margin-bottom:24px;
}
.fuel-pictures:last-child{
  margin-bottom:0;
}
.fuel-caption{
  font-family: "Tomorrow", sans-serif;
font-weight: 300;
font-size: 16px;
letter-spacing: -0.04em;
text-align: center;
color: #010101;
margin-top:16px;
}
@media screen and (min-width: 1439px) {
  .fuel-section{
  background-image:url("/img/power/line-desk.png");
    background-repeat: no-repeat;
    background-position: top 100px right;
    background-size: 708px;  
}
.fuel-title{
font-size: 40px;
}
.fuel-equipment-container{
  display:flex;
  gap:43px;
  align-items:center;
}
.fuel-text{
  text-align:start;
  margin-bottom:40px;
}
.pictures-container{
  display:flex;
  gap:24px;
}
.fuel-pictures{
padding: 16px;
width: 255px;
height: 206px;
}
.fuel-caption{
  text-align:start;
  
  font-size: 18px;
}
}
/* Recovery & Longevity */
.recovery-section{
  background-image:url("/img/power/line-mob.png");
  background-repeat: no-repeat;
  background-position: top 120px right;
  background-size: 359px;  
}
.recovery-title{
  margin-bottom:32px;
}
.recovery-text{
font-family: "Orbitron", sans-serif;
font-weight: 400;
font-size: 22px;
text-align: center;
color: #f1f1f1;
}
.recovery-img{
  margin-top:24px;
  margin-bottom:16px;
}
.recovery-caption{
  font-family: "Orbitron", sans-serif;
font-weight: 400;
font-size: 26px;
color: #d7ff35;
margin-bottom:16px;
}
@media screen and (min-width: 1439px) {
  .recovery-section{ 
    background-image:url("/img/power/line-desk.png");
    background-repeat: no-repeat;
    background-position: top 110px right;
    background-size: 708px;  
  }
  .recovery-title{
    font-size: 40px;
  }
  .recovery-text{
    text-align: start;
  }
  .recovery-picture-container{
    display:flex;
    gap:80px;
    justify-content:center;
  }
  .recovery-img{
    width: 348px;
height: 229px;
  }
  .recovery-caption{
    width:343px;
  }
}
/* Real Athlete Stories */
.stories-section{
  background-color: #f1f1f1;
  background-image:url("/img/traning/line-mob.png");
  background-repeat: no-repeat;
  background-position: top 118px right;
  background-size: 359px; 
}
.stories-title{
  font-family: "Orbitron", sans-serif;
font-weight: 500;
font-size: 32px;
letter-spacing: -0.02em;
color: #010101;
  margin-bottom:32px;
}
.stories-container{
  display:flex;
  flex-direction:column;
  gap:16px;
}
.stories-container-item{
  border: 0px solid #d7ff35;
border-radius: 8px;
padding: 32px;
width: 343px;
height: 238px;
background: #010101;
}
.stories-img{
  width:33px;
  height:26px;
  margin-bottom:14px;
}
.stories-text{
  font-family: "Tomorrow", sans-serif;
font-weight: 300;
font-size: 20px;
color: #f1f1f1;
margin-bottom:8px;
}
.stories-author{
  font-family: "Tomorrow", sans-serif;
font-weight: 500;
font-size: 18px;
text-align: right;
color: #f1f1f1;
}
@media screen and (min-width: 1439px) {
  .stories-section{
    background-color: #f1f1f1;
    background-image:url("/img/traning/line-desk.png");
    background-repeat: no-repeat;
    background-position: top 110px right;
    background-size: 708px; 
  }
  .stories-title{
  font-size: 40px;
  margin-bottom:48px;
  }
  .stories-container{
    display:flex;
    flex-direction:row;
    gap:25px;
  }
  .stories-container-item{
  padding: 32px;
  width: 410px;
  height: 214px;
  }
}
/* Join the Movement */
.movement-section{
  background-image:url("/img/power/line-mob.png");
  background-repeat: no-repeat;
  background-position: top 80px right;
  background-size: 359px;  
}
.movement-title{
  margin-bottom:32px;
}
.movement-text{
  font-family: "Orbitron", sans-serif;
font-weight: 400;
font-size: 24px;
text-align: center;
background: linear-gradient(180deg, #fdfdfd 0%, #d7ff35 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
width:280px;
margin:0 auto 32px;
}
.contact-information{
  font-family: "Tomorrow", sans-serif;
font-weight: 300;
font-size: 24px;
text-align: center;
color: #f1f1f1;
}
.link-mail{
  text-decoration: underline;
}
@media screen and (min-width: 1439px) {
  .movement-section{
    background-image:url("/img/power/line-desk.png");
    background-repeat: no-repeat;
    background-position: top 110px right;
    background-size: 708px;  
  }
  .movement-title{
    font-size: 40px;
    margin-bottom:80px;
  }
  .movement-text{
  font-size: 32px;
  width:896px;
  margin:0 auto 40px;
  }
}