@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');



.background{
    background:#f1f1f1;  
     background-image:url("/img/traning/line-mob.png");
    background-repeat: no-repeat;
    background-position: top 170px right;
    background-size: 359px; 
}
.back-btn{
    display:flex;
    gap:12px;
    align-items:center;
    margin-bottom:34px;
}
.policy-container{
    font-family: "Tomorrow", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #010101;
}

.policy-title{
    font-family: "Orbitron", sans-serif;
font-weight: 500;
font-size: 40px;
color: #010101;
margin-bottom:40px;
}
.policy-text{
    margin-bottom:20px;
}
.policy-subtitle{
font-family: "Tomorrow", sans-serif;
font-weight: 400;
font-size: 32px;
line-height: 1.5;
color: #010101;
margin-bottom:16px;
}
.policy-rules{
    font-family: "Tomorrow", sans-serif;
    font-weight: 500;
    font-size: 26px;
        line-height: 1.5;
    color: #010101;
    margin-bottom:16px;
}
.text-rules{
    margin-bottom:16px;  
}
.policy-definition{
    font-family: "Tomorrow", sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 1.5;
color: #010101;
margin-bottom:16px; 
}
.link-underline{
    text-decoration:underline;
}
.policy-list{
    list-style-type:disc;
    padding-left:20px;
    margin-bottom:20px;
}
.data-title{
    font-family: "Tomorrow", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.5;
color: #010101;
margin-bottom:16px; 
}
.data-text{
    margin-bottom:16px;  
}
.policy-span{
    font-weight: 700;
}
.policy-without-margin{
    margin-bottom:0;
}
.date{
    display:block;
}

@media screen and (min-width: 1439px) {
    .background{
      background-color: #f1f1f1;
      background-image:url("/img/traning/line-desk.png");
      background-repeat: no-repeat;
      background-position: top 150px right;
      background-size: 708px;
        
    }
    .policy-container{
        padding:56px 186px 40px;
    }
    .date{
        display:inline;
    }
}